#toolbar-item-administration-tray .toolbar-lining {
  background-color: #308dcc;
  color: #fff !important;
}
#toolbar-item-administration-tray .toolbar-lining .toolbar-box a {
  color: #fff !important;
}
#toolbar-item-administration-tray .toolbar-lining .toolbar-box a.is-active {
  background-color: transparent;
  margin: 0 10px;
}
#toolbar-item-administration-tray .toolbar-lining .toolbar-box a:focus {
  background-color: #0070af;
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu {
  background-color: #308dcc;
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-system-admin-content:before {
  background-image: url("../images/file-contract-solid.svg") !important;
  width: 16px;
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-system-admin-structure:before {
  background-image: url("../images/sitemap-solid.svg") !important;
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-system-themes-page:before {
  background-image: url("../images/tv-solid.svg") !important;
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-system-modules-list:before {
  background-image: url("../images/puzzle-piece-solid.svg");
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-system-admin-config:before {
  background-image: url("../images/cogs-solid.svg");
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-entity-user-collection:before {
  background-image: url("../images/users-solid.svg");
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-system-admin-reports:before {
  background-image: url("../images/bug-solid.svg");
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu .toolbar-icon-help-main:before {
  background-image: url("../images/hand-paper-solid.svg");
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu button.toolbar-icon:focus {
  background-color: transparent;
}
#toolbar-item-administration-tray .toolbar-lining ul.toolbar-menu li {
  color: #fff;
  border: 0;
}
#toolbar-item-administration-tray .toolbar-lining .toolbar-toggle-orientation {
  background-color: #308dcc;
}

.toolbar .toolbar-toggle-orientation [value=horizontal]:before {
  background-image: url("../images/level-up-alt-solid.svg");
  width: 16px;
}

.toolbar .toolbar-toggle-orientation [value=horizontal]:hover:before {
  background-image: url("../images/caret-square-up-solid.svg");
  width: 16px;
}

.toolbar .toolbar-icon.toolbar-handle:before {
  background-image: url("../images/sort-down-solid.svg");
  width: 12px;
}

.toolbar .toolbar-icon.toolbar-handle.open:before {
  background-image: url("../images/sort-down-solid.svg");
  width: 12px;
  transform: rotate(180deg);
  top: 5px;
}

.toolbar .toolbar-bar {
  background-color: #308dcc;
  box-shadow: none !important;
}

.toolbar .toolbar-icon-escape-admin:before {
  background-image: url("../images/sort-down-solid.svg");
  transform: rotate(90deg);
}

.toolbar-bar .toolbar-icon-shortcut:before {
  background-image: url("../images/bolt-solid.svg") !important;
  width: 16px !important;
}

.toolbar-bar .toolbar-icon-user:before {
  background-image: url("../images/diagnoses-solid.svg") !important;
}

.toolbar .toolbar-tray-vertical {
  box-shadow: none !important;
}

.toolbar-tray .toolbar-lining {
  background-color: #308dcc;
}
.toolbar-tray .toolbar-lining a {
  color: #fff;
}
.toolbar-tray .toolbar-lining a:focus {
  background-color: #308dcc;
}
.toolbar-tray .toolbar-lining a.is-active {
  color: #fff !important;
}
.toolbar-tray .toolbar-menu {
  background-color: #308dcc;
}
.toolbar-tray .toolbar-menu a {
  background-color: #308dcc;
  color: #fff;
}
.toolbar-tray .toolbar-toggle-orientation {
  background-color: #308dcc;
}

body {
  background-color: #f1f1f1;
  font-family: "Raleway", sans-serif;
}
body .content-header {
  background-color: #f1f1f1;
}

table {
  width: 100%;
  margin: 0 0 10px;
  display: block;
  max-width: 100%;
  overflow-x: scroll;
}

.toolbar-bar .toolbar-icon-shortcut:hover {
  animation: shake 0.1s;
  animation-iteration-count: infinite;
}

.dialog-off-canvas-main-canvas {
  background-color: #fafcfe;
}
.dialog-off-canvas-main-canvas .content-header {
  background-color: transparent;
}

ul.admin-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
ul.admin-list li {
  border: 0;
  width: 33%;
}
ul.admin-list li a {
  text-align: center;
  background: 0 !important;
  border: 1px solid transparent;
  min-height: 40px;
}
ul.admin-list li a:hover {
  border: 1px solid #308dcc;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.is-collapse-enabled .tabs:before,
.is-horizontal .tabs:before {
  display: none;
}

.block-local-tasks-block ul.tabs {
  margin-left: 5px;
  max-height: 999em;
}
.block-local-tasks-block ul.tabs .tabs__tab.is-active {
  border-radius: 4px;
}
.block-local-tasks-block ul.tabs .tabs__tab.is-active a {
  color: #65a6ff;
  min-width: 80px;
}
.block-local-tasks-block ul.tabs li {
  border: 0;
  background-color: #65a6ff;
  border: 2px solid #65a6ff !important;
  border-radius: 4px !important;
}
.block-local-tasks-block ul.tabs li a {
  color: #fff;
  min-width: 80px;
}

.tabs.secondary a {
  color: #fff;
  background-color: #65a6ff;
}
.tabs.secondary .tabs__tab.is-active a {
  color: #65a6ff !important;
  background-color: #fff;
}

.is-horizontal .tabs.primary .tabs__tab {
  margin-right: 30px !important;
}

#block-blueadmino-local-actions ul.action-links li {
  border-radius: 4px;
  border: 2px solid #65a6ff !important;
  background-color: #65a6ff;
  background-image: none !important;
  text-shadow: none;
}
#block-blueadmino-local-actions ul.action-links li a {
  padding: 7px 25px;
  border-radius: 0;
  background-color: #65a6ff;
  background-image: none !important;
  text-shadow: none;
  border-color: #65a6ff;
  font-size: 13px;
}

.package-listing .details-wrapper .responsive-enabled tbody {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.package-listing .details-wrapper .responsive-enabled tbody .even,
.package-listing .details-wrapper .responsive-enabled tbody .odd {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  border-bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #65a6ff;
  border-radius: 4px;
}
.package-listing .details-wrapper .responsive-enabled tbody .even .description.expand,
.package-listing .details-wrapper .responsive-enabled tbody .odd .description.expand {
  width: 95%;
}
.package-listing .details-wrapper .responsive-enabled tbody .even td.module,
.package-listing .details-wrapper .responsive-enabled tbody .odd td.module {
  width: 70%;
}
.package-listing .details-wrapper .responsive-enabled tbody .odd {
  background-color: #fff;
}
.package-listing .details-wrapper .responsive-enabled tbody .even {
  background-color: unset;
}

.system-themes-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.system-themes-list .system-themes-list__header {
  position: absolute;
}
.system-themes-list .theme-selector {
  width: 30%;
  position: relative;
  top: 55px;
}

.block-page-title-block h1.page-title {
  margin-top: 0;
}

.system-themes-list .theme-selector .theme-info__header {
  display: block;
  float: left;
  font-size: 20px;
  margin-top: 15px;
}
.system-themes-list .theme-selector .theme-info__description {
  display: block;
  float: left;
  margin-top: 10px;
  padding-right: 100px;
}
.system-themes-list .theme-selector ul.operations {
  display: block;
  float: left;
}

.system-status-report-counters .system-status-counter__status-icon {
  float: left;
}

.views-list-section .views-listing-table tbody td h3 {
  font-size: 20px !important;
}

.menu-item {
  list-style-type: none;
}

/*# sourceMappingURL=stylesheet.css.map */
